<h2>About</h2>
<p>Hi, my name is Adaa, and I'm a 3rd year Product Design Student.</p>

<h2>What do I do?</h2>
<ul>
  <li>Product Design, of course!</li>
  <li>Digital Art</li>
  <li>Procrastinate</li>
</ul>

<p>I'm available for Part time and Freelance works. You can drop me a mail at - <a href="mailto:adaa.work@gmail.com" rel="me">adaa.work@gmail.com</a><p>

<hr />

<p>
  You can check my work on
</p>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
    <a href="https://instagram.com/artsyadaa">Instagram</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="fa fa-pinterest fa-lg main-list-item-icon"></span>
    <a href="https://instagram.com/artsyadaa">Pinterest</a>
  </li>
  <!-- <li class="main-list-item">
    <span class="fa fa-pinterest fa-lg main-list-item-icon"></span>
    <a href="">Pinterest</a>
  </li> -->

</ul>
